.AssemblerView {
    width: 100%;
    height: 100%;
    padding: 1.5em;
    border-radius: 0.3em;
    overflow: hidden;
    text-align: initial;

    display: flex;
    flex-direction: row;

    >* {
        margin: 0 1em;
    }

    .item-list {
        >* {
            border-radius: 1em;
            padding: 0.8em 1em;

            &:not(:first-child) {
                margin-top: 1em;
            }
        }
    }

    .panel {
        padding: 1em;
        background-color: white;
        border-radius: 1em;
        overflow-y: auto;
    }

    >.left {
        flex: 3;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    >.middle {
        flex: 6;
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;

        >*:not(:first-child) {
            margin-top: 1em;
        }

        >.top {
            width: 100%;
            flex: 1;
            display: flex;
            flex-direction: row;

            >.left {
                flex: 1;
            }

            >.right {
                flex: 1;
                margin-left: 1em;
            }
        }

        >.middle {}

        >.bottom {
            width: 100%;
            flex: 1;
            display: flex;
            flex-direction: row;

            >.left {
                flex: 1;
            }

            >.right {
                flex: 1;
                margin-left: 1em;
            }
        }
    }

    >.right {
        flex: 3;
        display: flex;
        flex-direction: column;
    }



    .product-preview {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .hints {
        flex: 1;
        height: 100%;
        text-align: initial;
        padding: 1em 1.5em;
        color: #3f3f3f;
    }


    .recipe-selector {
        font-size: 1em;

        >select {
            padding: 0.3em 1em;
            width: 80%;
            font-size: 1em;
        }
    }

    .buttons {
        padding-top: 1em;
        font-size: 1em;

        >button {
            font-size: 1em;
        }

        >*:not(:first-child) {
            margin-left: 1em;
        }
    }
}