.ContractDraftView {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    >.contract-list {
        width: 80%;
        display: flex;
        flex-direction: column;

        >.contract {
            display: flex;
            flex-direction: row;

            &.selected {
                background-color: gray;
            }

            >.info {
                flex: 2;
                display: flex;
                flex-direction: column;
            }

            >.item-list {
                flex: 5;
                display: flex;
                flex-direction: column;

                >div:nth-child(2) {
                    flex: 1;
                }
            }
        }
    }
}