.SpaceMinerUI {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    
    
    button {
        padding: 0.2em 1.2em;
        border-radius: 1em;
        border: 0.1em solid transparent;
        background-color: #7f7f7f;
        color: white;
        transition: all 100ms;
        cursor: pointer;

        &:disabled {
            border-color: #7f7f7f;
            background-color: white;
            color: #7f7f7f;
            cursor: auto;
        }

        &:hover:not(:disabled) {
            background-color: #bfbfbf;
        }

        &:active:not(:disabled) {
            background-color: #3f3f3f;
        }

        &.light {
            border-radius: 1em;
            border: 0.1em solid #7f7f7f;
            background-color: white;
            color: #7f7f7f;

            &:disabled {
                border-color: #7f7f7f;
                background-color: white;
                color: #afafaf;
                cursor: auto;
            }
    
            &:hover:not(:disabled) {
                background-color: #7f7f7f;
                color: white;
            }
    
            &:active:not(:disabled) {
                background-color: #3f3f3f;
            }
        }

        &.small {
            font-size: 0.8em;
            padding: 0.1em 0.5em;
        }
    }

    > .messages {
        position: absolute;
        right: 0;
        top: 0;
    }
}