.TaggedTabsPanel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    > .tag-filter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 1em;

        > .tag {
            padding: 0.2em 1em;
            margin: 0.5em;
            border-radius: 1em;
            border-width: 0.1em;
            border-style: solid;
            border-color: #3f3f3f;
            color: #3f3f3f;
            cursor: pointer;

            &.selected {
                background-color: #3f3f3f;
                color: white;
            }
        }
    }

    > .tab {
        display: flex;
        flex-direction: column;
        overflow: auto;

        > .item {
            padding: 0.2em 1em;
            border-bottom: 0.1em solid #7f7f7f;
        }
    }
}