.FacilityCommon {
    display: flex;
    flex-direction: column;
    
    .config {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        > .config-item {
            margin: 0.1em 0;
            padding: 0.1em 0.3em;

            &:not(:last-child) {
                border-right: 0.05em solid #bfbfbf;
            }
        }
    }
}