.SimpleDialogWrapper {
    width: 50%;
    max-width: 900em;
    min-height: 50%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > .content {
        width: 100%;
        flex: 1;
        background-color: #efefef;
        border-radius: 0.5em;
    }

    > .buttom-bar {
        margin-top: 0;
        padding: 0.5em 1em;
        background-color: #efefef;
        border-bottom-left-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
        display: flex;
        flex-direction: row;

        >button:not(:first-child) {
            margin-left: 1em;
        }
    }
}