.GenericFacilityDetailView {
    display: flex;
    flex-direction: column;

    >.display-pairs {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-items: flex-start;

        >.pair {
            min-width: 10em;
            height: 8em;
            margin: 1em;
            padding: 1em 2em;
            background-image: linear-gradient(to right, #747474, #979797);
            color: white;
            background-color: white;
            border-radius: 1em;
            position: relative;
            overflow: hidden;
            // box-shadow: inset #66ccff7f 0 0 0.5em;

            &.with-progress {
                // background-color: #cfcfcf;
                background-image: linear-gradient(to right, #333333, #666666);
                background-color: gray;
                color: white;
                // border: 0.1em solid gray;
            }

            >.progress {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 0;
                background-image: linear-gradient(to right, #0066ee, #2288cc);
                background-color: white;
                transition: width 100ms ease;
            }

            >.text {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 0.8em 1em;

                >.key {
                    width: 100%;
                    text-align: start;
                    font-size: 1em;
                    border-bottom: 0.1em solid rgb(190, 190, 190);
                }
    
                >.value {
                    width: 100%;
                    text-align: end;
                    font-size: 3em;
                }
            }
        }
    }

    >.display-progresses {
        width: 100%;
        display: flex;
        flex-direction: column;

        >.row {
            min-width: 100%;
            margin: 1em 0;
            display: flex;
            flex-direction: row;
            align-items: center;

            >.key {
                min-width: 5em;
                text-align: right;
                font-size: 1em;
            }

            >progress {
                flex: 1;
                height: 2em;
                margin: 0 1em;
            }

            >.value {
                min-width: 5em;
                text-align: left;
                font-size: 0.8em;
            }
        }
    }

}