.GenericFacilityDetailView {
    display: flex;
    flex-direction: column;

    >.display-pairs {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-items: flex-start;
        font-size: 0.8em;

        >.pair.default {
            min-width: 8em;
            width: fit-content;
            height: 4.8em;
            margin: 0.2em;
            padding: 1em 2em;
            color: white;
            background-color: white;
            border-radius: 1em;
            position: relative;
            overflow: hidden;
            // box-shadow: inset #66ccff7f 0 0 0.5em;

            >.progress {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 0;
                background-color: white;
                transition: width 200ms ease;
            }

            >.text {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 0.5em 0.8em;

                >.name {
                    width: 100%;
                    text-align: start;
                    font-size: 1em;
                    border-bottom: 0.1em solid rgb(190, 190, 190);
                }

                >.value {
                    width: 100%;
                    text-align: end;
                    font-size: 1.8em;
                }
            }
        }

        >.pair.classic {

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            color: #1f1f1f;
            font-size: small;
            font-family: sans-serif;

            padding-left: 0.5em;
            padding-right: 0.5em;

            &:not(:first-child) {
                border-left: #7f7f7f 1px solid;
            }


            >.name {}

            >.progress {
                width: 5em;
                flex: 1;
                height: 0.62em;
                margin-left: 0.5em;
                background-color: #7f7f7f;

                >.bar {
                    position: absolute;
                    width: 100%;
                    background-color: #1f1f1f;
                }
            }

            >.value {
                margin-left: 0.5em;
            }
        }
    }

    >.display-progresses {
        width: 100%;
        display: flex;
        flex-direction: column;

        >.row {
            min-width: 100%;
            margin: 1em 0;
            display: flex;
            flex-direction: row;
            align-items: center;

            >.key {
                min-width: 5em;
                text-align: right;
                font-size: 1em;
            }

            >progress {
                flex: 1;
                height: 2em;
                margin: 0 1em;
            }

            >.value {
                min-width: 5em;
                text-align: left;
                font-size: 0.8em;
            }
        }
    }

}