.BirminghamMapView {
    width: fit-content;
    height: fit-content;
    position: relative;

    > * {
        position: absolute;
        left: 0;
        top: 0;
    }

    > .city-slots {
        > .city-slot {
            position: absolute;
            background-color: #ffffff7f;
        }
    }
}