.BirminghamMapView {
    width: fit-content;
    height: fit-content;
    position: relative;

    > * {
        position: absolute;
        left: 0;
        top: 0;
    }

    > .items {
        > .item {
            position: absolute;

            &.selectable {
                border: 0.1em dashed white;
            }

            &.selected,
            &.selected.selectable {
                border: 0.1em solid yellow;
                background-color: #ffffff3f;
            }
        }
    }
}