.NumberInputDialog {
    width: 30em;
    height: 20em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    font-size: 2em;

    > * {
        margin-top: 1em;
    }

    > .range-hint {
        color: #7f7f7f;
    }

    > input {
        font-size: 1em;
    }
}