.NumberInputDialog {
    width: 20em;
    height: 10em;
    padding: 1em;
    display: flex;
    flex-direction: column;

    > * {
        margin-top: 1em;
    }

    > .range-hint {
        color: #7f7f7f;
    }
}