.SimpleInfoCardView {
    $item-height: 4em;

    width: 100%;
    // height: $item-height;
    // padding: 1em;

    display: flex;
    flex-direction: row;
    align-items: center;

    > *:not(:first-child) {
        margin-left: 1em;
    }

    > .icon-wrapper {
        width: $item-height;
        height: $item-height;
        display: flex;
        align-items: center;
        justify-content: center;

        > img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            image-rendering: pixelated;
        }
    }

    > .detail {
        flex: 1;
        display: flex;
        flex-direction: column;

        > .name-wrapper {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            margin-bottom: 0.5em;
        }

        >.description-wrapper {
            flex: 1;
            font-size: 0.8em;
            color: #7f7f7f;
            text-align: start;
        }
    }

    > .tools-wrapper {
        height: 100%;
        padding: 0.2em 1em;
    }
}