.GameObjectView {
    position: absolute;
    background: linear-gradient(-75deg, white 0%, white 39%, #1b1b1b 40%, #1b1b1b 60%, white 61%, white 100%);
    background-size: 50px;

    &.with-background {
        background: transparent;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &.shape-circle {
        border-radius: 100vmax;
        overflow: hidden;
    }

    &.shape-rectangle {
        border-radius: 0;
    }
}