.GameObjectView {
    position: absolute;
    background-image:
        linear-gradient(0deg, #00000080 0% 50%, #ff00ff80 50% 100%),
        linear-gradient(90deg, #00000080 0% 50%, #ff00ff80 50% 100%);
    background-position: 0 0;
    background-size: 3em 3em;
    box-shadow: #1b1b1b80 8px 8px 3px;

    &.controlled {
        border-width: 0.2em;
        border-style: solid;
    }

    &.dragging {
        box-shadow: #1b1b1b80 20px 20px 5px;
        // border: white 0.2em solid;
    }

    &.with-background {
        background: transparent;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &.shape-circle {
        border-radius: 100vmax;
        overflow: hidden;
    }

    &.shape-rectangle {
        border-radius: 0;
    }
}