.GameObjectInfoView {
    width: 100%;
    background-color: white;
    padding: 1em 0.5em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;

    > .config {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
            
        > h3 {
            text-align: start;
        }
            
        > .hint {
            font-size: 0.8em;
            color: gray;
        }

        > div {
            display: flex;
            flex-direction: row;

            > *:first-child {
                margin-right: 0.5em;
            }
            
            > *:nth-child(2) {
                flex: 1;

                &:first-child {
                    flex: 0;
                }
            }
            
            > input {
                flex: 1;
                max-width: 4em;
            }
        }
    }

    .image-preview {
        width: 100%;
        padding: 0.5em;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > * {
            margin: 0.2em;
        }

        > input {
            max-width: 100%;
        }
        
        > img {
            max-width: 80%;
        }
    }
}