.TableBottomSimulatorView {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: black;

    .table {
        position: absolute;
    }

    .game-object-info-wrapper {
        position: absolute;
        right: 0;
        top: 0;
        width: 20%;
        min-width: 15em;
        max-width: 30em;
        max-height: 100%;
        padding: 1em 0.5em;
        background-color: #efefef;
        border-bottom-left-radius: 0.5em;

        display: flex;
        flex-direction: column;

        > button {
            margin-bottom: 1em;
        }
    }
}