.TableBottomSimulatorView {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: black;

    .table {
        position: relative;
    }

    .game-object-info {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 20%;
        max-width: 50em;
    }
}